<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class=" flex items-center justify-center">
    <div class="container w-1/2 h-96 border-2 items-center justify-center mx-auto rounded shadow">
        <div class="flex items-center justify-center mt-2 ">
            <img class="w-24 h-24" src="assets/logo.png" alt="">
        </div>
        <h2 class="text-center mt-3 text-xl font-bold">Connexion</h2>
        <form class="w-1/2 mx-auto flex-col items-center justify-center flex" action="" >
            <div class="flex-col w-full mb-2">
                <label class="" for="email">Login</label>
                <input class="border-2 w-full mt-2 p-1 rounded" type="text" placeholder="amadou@gmail.com" >
            </div>
            <div class="flex-col w-full">
                <label class="" for="email">Password</label>
                <input class="border-2 w-full mt-2 p-1 rounded" type="text" placeholder="****************">
            </div>
            <button type="submit" class=" w-40 h-10 rounded  bg-sky-900 text-white mt-2"><a href="ListeCourrs.html">Se connecter</a></button>
        </form>
    </div>
</body>
</html>