<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes Cours</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=home" />
    {# <script src="https://cdn.tailwindcss.com"></script> #}
</head>

<body>
    <header class="header  w-full border h-16 bg-red-800 flex items-center justify-between fixed top-0">
        <div class="mx-5">
            <h2 class="text-white text-lg font-bold">Ecole 221</h2>
        </div>
        <div class="mx-5">
            <img class="w-10 h-10" src="assets/user.png" alt="">
        </div>
    </header>
    <div class="w-full flex h-full fixed">
        <aside class="sidebar">
            <!--sidebar header-->
            <header class="sidebar-header">
                <a href="#" class="sidebar-logo">
                    <img src="assets/logo.jpg" alt="logo">
                </a>
                <button class="toggler sidebar-toggler">
                    <i class='bx bx-chevron-left'></i>
                </button>
            </header>
            <nav class="sidebar-nav">
                <!--Primary top nav-->
                <ul class="nav-list primary-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class='bx bx-home' ></i>
                            <span class="nav-label ">Dashboard</span>
                        </a>
                        <span class="nav-tooltip ">Dashboard</span>   
    
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class='bx bx-list-ul' ></i>
                            <span class="nav-label ">Liste Cours</span>
                            <span class="nav-tooltip ">Liste Cours</span>
                        </a>
    
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class='bx bx-list-ul' ></i>
                            <span class="nav-label ">Liste Absences</span>
                            <span class="nav-tooltip ">Liste Absences</span>
                        </a>
    
                    </li>
                </ul>
    
                   <!--Second bottom nav-->
                   <ul class="nav-list secondary-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class='bx bx-log-out' ></i>
                                <span class="nav-label ">Logout</span>
                            </a>
                        <span class="nav-tooltip ">Logout</span>
    
                        </li>
                    </ul>
            </nav>
        </aside>
        <div class="mt-16">
            <h2 class="text-lg font-medium mx-5 mt-8 mb-5">Liste Cours</h2>
            <form class="mx-4 mb-5" action="">
                <select class="w-32 mx-2 h-9 border" name="" id="">
                    <option value="">Semestre 1</option>
                </select>
                <button class=" w-10 h-8 bg-sky-700 rounded text-white font-bold">OK</button>
            </form>
            <div class="w-full  items-center justify-center px-16">
                <table class="w-full border mx-16 mt-2">
                    <thead class="bg-red-800">
                        <tr>
                            <th scope="col" class="text-white px-6 py-3">
                                Professeur
                            </th>
                            <th scope="col" class="text-white px-6 py-3">
                                Module
                            </th>
                            <th scope="col" class="text-white px-6 py-3">
                                Nombre d'heures
                            </th>
                            <th scope="col" class="text-white px-6 py-3">
                                Semestre
                            </th>
                            <th scope="col" class="text-white px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border">
                            <td scope="row" class="px-6 py-4">
                                Ibrahima Diop
                            </td>
                            <td class="px-8 py-4">
                                Algo
                            </td>
                            <td class="px-12 py-4">
                                20 heures
                            </td>
                            <td class="px-6 py-4">
                                Semestre 1
                            </td>

                            <td class="px-6 py-4 text-blue-700">
                                <button data-modal-target="authentication-modal"
                                    data-modal-toggle="authentication-modal"
                                    class="block  text-blue-600  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                    type="button">
                                    Voir Seance
                                </button>
                            </td>

                        </tr>
                        <tr class="border">
                            <td scope="row" class="px-6 py-4">
                                Ibrahima Diop
                            </td>
                            <td class="px-8 py-4">
                                Algo
                            </td>
                            <td class="px-12 py-4">
                                20 heures
                            </td>
                            <td class="px-6 py-4">
                                Semestre 1
                            </td>

                            <td class="px-6 py-4 text-blue-700">
                                <button data-modal-target="authentication-modal"
                                data-modal-toggle="authentication-modal"
                                class="block  text-blue-600  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                type="button">
                                Voir Seance
                                </button>
                            </td>

                        </tr>
                        <tr class="">
                            <td scope="row" class="px-6 py-4">
                                Ibrahima Diop
                            </td>
                            <td class="px-8 py-4">
                                Algo
                            </td>
                            <td class="px-12 py-4">
                                20 heures
                            </td>
                            <td class="px-6 py-4">
                                Semestre 1
                            </td>

                            <td class="px-6 py-4 text-blue-700">
                                <button data-modal-target="authentication-modal"
                                data-modal-toggle="authentication-modal"
                                class="block  text-blue-600  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                type="button">
                                Voir Seance
                                </button>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <div class="">
                    <nav class="flex items-center justify-center mt-2" aria-label="Page navigation example">
                        <ul class="inline-flex -space-x-px text-sm">
                            <li>
                                <a href="#"
                                    class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">3</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
            <!-- Main modal -->
            <div id="authentication-modal" tabindex="-1" aria-hidden="true"
                class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-2xl max-h-full">
                    <!-- Modal content -->
                    <div class="w-full  relative bg-white rounded-lg shadow ">
                        <!-- Modal header -->
                        <div
                            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                Seance
                            </h3>
                            <button type="button"
                                class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-hide="authentication-modal">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>

                        <!-- Modal body -->
                        <div class="p-4 md:p-5">
                            <div class="w-full ">
                                <div class="w-48 h-32 border rounded bg-">
                                    <h2 class="text-lg">Titre : </h2><span class="text-gray">ALgo</span> 
                                    <h2 class="text-lg">Date : <span class="text-gray"></span></h2>
                                    <h2 class="text-lg">Heure Debut : <span class="text-gray"></span></h2>
                                    <h2 class="text-lg">Heure Fin : <span class="text-gray"></span></h2>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>

    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>

</html>